
html{
  font-size: 32px;
}


/*top flex container*/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 0.3125rem solid orange;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  border: 1px solid black;
}

.logo {
  display: flex;
}

.logo img {
  vertical-align: middle;
  padding: 0 0rem 0 0.75rem;
  height: 1.5rem;
}

.logo p {
  font-size: 1rem;
  font-family: Helvetica,sans-serif;
  align-self: center;
}


#logo1 {
  color: black;
}

#logo2 {
  color: grey;
}

/*navigation*/
#nomobile {
  display: inline-block;
  color: grey;
  margin-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#mobilemenu {
  display:none;
}

.navmenu{
  margin-right: 1rem;
}

.onesection {
  display: flex;
  background-color: grey;
  width: 100%;
}

.onesectioncolumns {
  display: flex;
}

.onesectioncolumns img {
  background-repeat: no-repeat;
  margin: 2rem 1.5rem 2rem 1.5rem;
  width: 60%;
}

.onesectionrightcopy {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.headlinecopy {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight:bold;
}

.secondarycopy {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.tertiarycopy {
  font-size: 1.5rem;
}

.ctacopy {
  color:white;
  font-weight: normal;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: black;
  font-size: 1.75rem;
  text-align: center;
}

/* Second Section*/

.twosection {
  display: flex;
  width: 100%;
  margin-top: 32px;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twosectioncolumns {
  display: flex;
}

.twosectionleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left:24px;
  margin-right:24px;
}


.twosectionleft h2 {
  font-size: 1.25rem;
}

.twosecimage {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

.twosectionleft h1 {
  font-size: 2rem;
  padding-top:32px;
  padding-bottom: 24px;
}

.twosecimage img {
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}



.twosectionright {
  display:flex;
  flex-direction: column;
  width:40%;
  height: 100%;

}

.twosectionrightrows {
  display: flex;
  width: 100%;

}

.campusinformation {
  display:flex;
  border: 1px solid black;
  height: 100%;
}

.campusinformation h1{
  font-size: 2rem;
}

.campusinfocopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.campusinfocopy p {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.campusinfocopy h1{
  font-size: 2rem;
}

.campusinfocopy a {
  text-decoration: none;
}

.campusinfophoto {
  width:35%;
  border: 1px solid black;
  overflow: hidden;

}

.campusinfophoto img {
  width:100%;
  overflow: hidden;
  background-size: cover;
  padding: 16px;

}

.campusinfocopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
  width: 65%;
}

.threesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 10px solid black;
  background-color: grey;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.threesection h1{
  font-size: 48px;
  padding: 32px 0px 32px 0px;
  font-weight:bold;
}


.twosectionrightrow h1{
  font-size: 48px;
  padding: 32px 0px 32px 0px;
  font-weight:bold;
}


.courses {
  /*display: flex;
` flex-direction: column;*/
  width: 33%;
  background-color:white;
  margin: 16px;
  overflow: hidden;
  margin-top: 0rem;
}

.courseimage img {
  width:100%;
  overflow: hidden;
  background-size: cover;
}

.coursedescription {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left:16px;
  background-color: white;
}

.coursedescription h1{
  font-size: 32px;
  padding-top: 16px;

}

.coursedescription h2{
  font-size: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: grey;
}

.courserows{
  display: flex;
  justify-content: center;
  height:100%;
  width: 100%;
}

.fourthsection {
  width:100;
}

#fourheader {
  font-size: 48px;
  padding: 32px 0px 0px 0px;
  font-weight:bold;
  text-align: center;
}


.onerow {
  display:flex;
  justify-content: center;
  width: calc(100% - 112px);
}

.foursecimage p {
  font-size: 24px;

}

.foursecimage h1{
  font-size: 2rem;
  padding-top:32px;
  padding-bottom: 24px;
}

.foursecimage h2{
    font-size: 1.25rem;
}

.foursecimage {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}


.foursecimage img{
  overflow: hidden;
  margin-top: 0px;
  background-repeat: no-repeat;
  width: 100%;
}

.box50{
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.box10 {
  display: flex;
  justify-content:center;
  background-color: black;
  width: 100%;
  height: 33%;
  border: 10px solid blue;
}

.box19 {
  display: flex;
  justify-content:center;
  background-color: brown;
  width: 35%;
  border: 10px solid blue;
}

.box18 {
  display: flex;
  justify-content:center;
  background-color: orange;
  width: 100%;
  border: 10px solid blue;
}



.box7 {
  display: flex;
  border: 10px solid black;
  background-color: orange;
  width:35%;
  height: 100%;
}


.box17 {
  display: flex;

  width:65%;

}


.box13 {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 100%;
  height: 200px;
}


.box8 {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 35%;
  height: 33%;
  border: 10px solid pink;
}


.box9 {
  display: flex;
  background-color: blue;
  height: 100%;
}




.box15 {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 35%;
}





#firstline {
  font-size: 40px;
}

#secondline {
  font-size: 20px;
}

.thirdline{
  display: flex;
  font-size: 40px;

  width: 35%;
  border: 1px solid black;
}

#fourthline{
  font-size: 40px;
  height: 33%;
}
#secondphotocaption {
  font-size: 40px;
}

.thirdline img{
  border: 5px solid black;
  width: 35%;
  height: auto;
  background-repeat: no-repeat;
}

.sixthline {
  border: 5px solid black;
  width: 65%;
  height:100%;
  background-color: pink;
}


#secondline {
  font-size: 20px;
}

.box4 {
  height: 100px;
  border: 1px solid black;
  background-color: red;
}



#headerphoto1 {
  width: 60%;
  background-repeat: no-repeat;
  margin: 32px 24px 32px 0px;
}

#headerphoto2 {
  height: 66%;
  background-repeat: no-repeat;

}


.seconsection {
  display:flex;
  flex-direction: column;
  width: 60%;
}

.firstsection {
  display:flex;
  width: 60%;
}

.thirdline{
  display: flex;
  font-size: 40px;
  height: 33%;
  border: 1px solid black;
}



.row2 {
  background-color: orange;
  border: 10px solid lightblue;
}

/*.row3 {
  /*display:flex;
  flex-direction: column;
  width: 40%;
  border: 10px solid orange;
}*/


.secondrow{
  display:flex;

}

.solidbox {
  display:flex;
  background-color:white;
  width:100%;
  margin:20px;
  overflow: hidden;
}

.itemwrap {
  display: flex;
  border: 1px solid black;
  flex-wrap: wrap;
  width: 33%;
  height: 100%;
}

.itemwrap img {

  flex-wrap: wrap;
  width: 100%;
}

#copyright {
  padding-left: 10px;
}
