a{
  text-decoration: none;
}


/*main flex container*/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-family:"Helvetica", sans-serif;
}

.container h1{
    font-size: 3rem;

}
.container h2{
    font-size: 2rem;
}

.container h3{
    font-size: 1.25rem;
}


.container p {
  font-size: 1rem;

}
/*navigation container*/
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  border: 1px solid grey;
}

/*navigation container*/
.logo {
  display: flex;
}

.logo img {
  vertical-align: middle;
  padding: 0 0rem 0 0.75rem;
  height: 1.5rem;
}

.logo p {
  font-size: 1rem;
  align-self: center;
  text-transform: uppercase;
}

/*first half of company name*/
#logo1 {
  color: black;
}

/*second half of company name*/
#logo2 {
  color: grey;
}

/*navigation menu*/

.navmenu {
  margin-right: 1rem;
}

.navmenu a{
  color: grey;
}


.navmenu li {
  display: inline-block;
  color: grey;
  margin-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mobilemenu {
  display:none;
}

/*header section*/

.onesection {
  display: flex;
  background-color: grey;
  width: 100%;
}

.mobileheader{
  display: none;
}

/*left column container*/
.onesectioncolumns {
  display: flex;
  width:60%;
  margin: 2rem 1.5rem 2rem 1.5rem;
}

.onesectioncolumnsmobile{
  display:none;
}

.onesectioncolumns img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

/*right column container*/
.onesectionrightcopy {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.headlinecopy {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight:bold;
}

.secondarycopy {
  font-size: 2rem;
  margin-bottom: 1.75rem;
}

.tertiarycopy {
  font-size: 1.5rem;
}

.ctacopy {
  color:white;
  font-weight: normal;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: black;
  text-align: center;
}

/* Second Section (Campus Information)*/

.twosection {
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twosectionmobile{
  display:none;
}

.twosectioncolumns {
  display: flex;
}

/* Second Section (campus information) left column container*/
.twosectionleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left:1.5rem;
  margin-right:1.5rem;
}


.twosectionleft,.foursectionleftvid h2 {
}

.twosecimage {
  display: flex;
  flex-direction: column;
}

.twosectionleft h1 {
  padding-top:2rem;
  padding-bottom: 1.5rem;
}

.twosecimage img {
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}

/* Second Section (campus information) right column container*/
.twosectionright {
  display:flex;
  flex-direction: column;
  width:40%;
  height: 100%;
}

.twosectionrightmobile{
  display: none;
}

.twosectionrightrows {
  display: flex;
  width: 100%;
  border: 1px solid black;
}

.twosectionrightrows h2{
  padding: 2rem 0rem 2resm 0rem;
  font-weight:bold;
}

/* campus information container*/
.campusinformation {
  display:flex;

  height: 100%;
}

.campusinfophoto {
  width:35%;
  overflow: hidden;
}

.campusinfophoto img {
  width:100%;
  overflow: hidden;
  background-size: cover;
  padding: 1rem;
}

.campusinfocopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5rem;
}

.campusinfocopy p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.campusinfocopy a {
  text-decoration: none;
}

#lecture {
  background-color: lightgrey;
}

#designprototype {
  background-color: lightgrey;}




/* thrid section (online learning) container*/

.threesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: grey;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.threesectionmobile {
  display: none;
}

.threesection h1{
  padding: 2rem 0rem 2rem 0rem;
  font-weight:bold;
}


.courses {
  width: 33%;
  background-color:white;
  overflow: hidden;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.courserows{
  display: flex;
  justify-content: center;
  height:100%;
  width: 100%;
}

.onerow {
  display:flex;
  justify-content: center;
  width: calc(100% - 7rem);
}

.courseimage img {
  width:100%;
  overflow: hidden;
  background-size: cover;
}

.coursedescription {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left:1rem;
  background-color: white;
  padding-bottom: 1.5rem;
}

.coursedescription h2{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.coursedescription p {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* Fourth Section (For companies) Container*/

.fourthsectionmobile {display:none;}

/* Fourth Section Left (For companies) Container*/
.foursection {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.foursectionleftvid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left:1.5rem;
  margin-right:1.5rem;
}

#fourheader {
  font-size: 3rem;
  padding: 2rem 0rem 0rem 0rem;
  font-weight:bold;
  text-align: center;
}

.foursecimage p {
  font-size: 1.5rem;

}

.foursecimage h1{
  font-size: 2rem;
  padding-top:2rem;
  padding-bottom: 2rem;
}

.foursecimage h2{
    font-size: 1.25rem;
}

.foursecimage {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
}

.foursecimage img{
  overflow: hidden;
  margin-top: 0rem;
  background-repeat: no-repeat;
  width: 100%;
}

/* Footer*/

.mobilefooter {
  display:none;
}

.navcontainerfooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: white;
  border: 1px solid grey;

}

/* Copyright*/

#copyright {
  display: flex;
  margin-left:1.5rem;
  margin-top: 1rem;
}

#copyrightmobile {
  display: none;

}

/* mobile responsive between mobile and desktop*/
@media only screen and (min-width: 470px) and (max-width: 895px) {

/* display header secion column on smaller screens"*/
.onesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: grey;
  width: 100%;
}

.onesectioncolumns {
  display: flex;
  width:auto;
}

/* removes campaus photo*/
.campusinfophoto{display:none;}

.threesection {display: none;}

.threesectionmob{
  display: flex;
  width:100%;
  background-color: lightgrey;
  border: 1px solid black;
  margin-bottom: 2rem;
}

.threesectionmobile {
  display: flex;
  flex-direction: column;
  margin:0rem 1rem 2rem 1rem;
  width: 100%;
}

.threesectionmobile h1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight:bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.threesectionmobile h2{
  display: flex;
  border: 1px solid black;
  padding: 1rem 0rem 1rem 1rem;
  background-color: grey;
  margin-top: 0.5rem;
  margin-bottom:0.5rem;
}

.onesectionrightcopy {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

}

/* mobile*/


@media only screen and (max-width: 470px) {

.mobilemenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: white;
    border: 1px solid black;
  }

#mobilelefticon{
    margin-left: 1.5rem;
  }

#mobilerighticon{
    margin-right: 1.5rem;
  }

.onesection{
    display:none;}

.mobileheader{display:flex;
      flex-direction: column;
      margin-left: 1rem;
      margin-right:1rem;
      margin-bottom: 2rem;
}

.headlinecopy{
    margin-top: 2rem;
}

.ctacopy{
  background-color: grey;
}

.onesectioncolumnsmobile{
    display: flex;
 }

.onesectioncolumnsmobile img{
  width: 100%;
  height: 50%;
}

.twosectionleft{
  display: none;
}

.twosection {
  display: none;
}
.twosectionmobile{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: lightblue;
}

.twosectioncolumns{
  margin: 1rem 1rem -2rem 1rem;
}


.campusphotoomobile img{
  overflow: hidden;
  width: 100%;
  padding-bottom: 1rem;
}

.campusinfocopy {
  width: 100%;
  margin-left: 1rem;
  margin-bottom: 4rem;
}

.threesection {display: none;}

.threesectionmob{
  display:flex;
  width:100%;
  background-color: lightgrey;
  border: 1px solid black;
  padding-bottom: 1rem;
  height: 100%;
}

.threesectionmobile {
  display: flex;
  flex-direction: column;
  margin:0rem 1rem 2rem 1rem;
  width: 100%;
}

.threesectionmobile h1{
  display: flex;
  justify-content: center;
  width: 100%;
  font-weight:bold;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.threesectionmobile h2{
  display: flex;
  border: 1px solid black;
  padding: 1rem 0rem 1rem 1rem;
  background-color: grey;
  margin-top: 0.5rem;
  margin-bottom:0.5rem;
}


.fourthsectionmobile{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.foursection{display:none;}

#fourheader{
  margin-bottom: 1rem;
}

.mobilefooter {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5rem;
  border: 1px solid black;
  width: 100%;
  height: 4rem;

}

.mobilefooter p {
  padding-top:1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.navcontainerfooter {display:none;}
.navcontainer {display:none;}


}
