
html{
  font-size: 32px;
}


/*main flex container*/
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 0.3125rem solid orange;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*navigation container*/
.navcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: white;
  border: 1px solid black;
}

.mobilefooter{
  display:none;
}


.logo {
  display: flex;
}

.logo img {
  vertical-align: middle;
  padding: 0 0rem 0 0.75rem;
  height: 1.5rem;
}

.logo p {
  font-size: 1rem;
  font-family: Helvetica,sans-serif;
  align-self: center;
}


#logo1 {
  color: black;
}

#logo2 {
  color: grey;
}

/*navigation*/

.navmenu li {
  display: inline-block;
  color: grey;
  margin-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid black;
}

.mobilemenu {
  display:none;
}

.navmenu{
  margin-right: 1rem;
}

.onesection {
  display: flex;
  background-color: grey;
  width: 100%;
}

.mobileheader{
  display: none;
}

.onesectioncolumns {
  display: flex;
  width:60%;
  margin:24px;
}

.onesectioncolumnsmobile{
  display:none;
}

.onesectioncolumns img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}


.onesectionrightcopy {
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.headlinecopy {
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight:bold;
}

.secondarycopy {
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.tertiarycopy {
  font-size: 1.5rem;
}

.ctacopy {
  color:white;
  font-weight: normal;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  background-color: black;
  font-size: 1.75rem;
  text-align: center;
}

/* Second Section*/

.twosection {
  display: flex;
  width: 100%;
  margin-top: 32px;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.twosectionmobile{
  display:none;
}

.twosectioncolumns {
  display: flex;
}

.twosectionleft {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left:24px;
  margin-right:24px;
}

.twosectionleftvid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 100%;
  margin-left:24px;
  margin-right:24px;
}

.twosectionleft,.twosectionleftvid h2 {
  font-size: 1.25rem;
}

.twosecimage {
  display: flex;
  flex-direction: column;
}

.twosectionleft h1 {
  font-size: 2rem;
  padding-top:32px;
  padding-bottom: 24px;
}

.twosecimage img {
  overflow: hidden;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
}

.twosectionright {
  display:flex;
  flex-direction: column;
  width:40%;
  height: 100%;

}

.twosectionrightmobile{
  display: none;
}

.twosectionrightrows {
  display: flex;
  width: 100%;

}

.campusinformation {
  display:flex;
  border: 1px solid black;
  height: 100%;
}

.campusinformation h1{
  font-size: 2rem;
}

.campusinfocopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.campusinfocopy p {
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.campusinfocopy h1{
  font-size: 2rem;
}

.campusinfocopy a {
  text-decoration: none;
}

.campusinfophoto {
  width:35%;
  overflow: hidden;

}

.campusinfophoto img {
  width:100%;
  overflow: hidden;
  background-size: cover;
  padding: 16px;

}

.campusinfocopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 32px;
  width: 65%;
}

.threesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 10px solid black;
  background-color: grey;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.threesectionmobile {
  display: none;
}

.threesection h1{
  font-size: 48px;
  padding: 32px 0px 32px 0px;
  font-weight:bold;
}


.twosectionrightrow h1{
  font-size: 48px;
  padding: 32px 0px 32px 0px;
  font-weight:bold;
}


.courses {
  /*display: flex;
` flex-direction: column;*/
  width: 33%;
  background-color:white;
  margin: 16px;
  overflow: hidden;
  margin-top: 0rem;
}

.courseimage img {
  width:100%;
  overflow: hidden;
  background-size: cover;
}

.coursedescription {
  display: flex;
  flex-direction: column;
  justify-content:center;
  margin-left:16px;
  background-color: white;
}

.coursedescription h1{
  font-size: 32px;
  padding-top: 16px;

}

.coursedescription h2{
  font-size: 24px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: grey;
}

.courserows{
  display: flex;
  justify-content: center;
  height:100%;
  width: 100%;
}

.fourthsection {
  width:100;
}

.fourthsectionmobile{display: none;}

#fourheader {
  font-size: 48px;
  padding: 32px 0px 0px 0px;
  font-weight:bold;
  text-align: center;
}


.onerow {
  display:flex;
  justify-content: center;
  width: calc(100% - 112px);
}

.foursection {
  display: flex;
  width: 100%;
  margin-top: 32px;
  -webkit-box-sixing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.foursecimage p {
  font-size: 24px;

}

.foursecimage h1{
  font-size: 2rem;
  padding-top:32px;
  padding-bottom: 24px;
}

.foursecimage h2{
    font-size: 1.25rem;
}

.foursecimage {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
}

.foursecimage img{
  overflow: hidden;
  margin-top: 0px;
  background-repeat: no-repeat;
  width: 100%;
}

#copyright {
  display: flex;
  align-items: baseline;
  padding-left: 10px;
  margin-top: 10px;

}

#copyrightmobile {
  display: none;

}

@media only screen and (min-width: 470px) and (max-width: 895px) {
#nomobile {
  display: inline-block;
  color: white;
  margin-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.threesection {display: none;}

.threesectionmobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 10px solid black;

}

.threesectionmobile h1{
  font-size: 48px;
  width: 100%;
  font-weight:bold;
  border: 1px solid black;
}

.threesectionmobile p{
  font-size: 32px;
  width: 100%;
  margin: 50px;
  font-weight:bold;
  border: 1px solid black;
}


}

@media only screen and (max-width: 470px) {

  .nomobile {
      display:none;
  }

  #nomobile{
    display: none;
  }

  #copyright{display: none;}

  #copyrightmobile {
    display: flex;
      border: 1px solid black;

  }

  .mobilemenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    background-color: white;
    border: 1px solid black;
  }

  #test{
    margin-left: 24px;
  }

  #test1{
    margin-right: 24px;
  }

.onesection{
    display:none;}

.mobileheader{display:flex;
      flex-direction: column;
      margin-left: 16px;
      margin-right:16px;
      margin-bottom: 32px;
}

.headlinecopy{
    margin-top: 32px;
}

.ctacopy{
  /*margin-bottom: 32px;*/
  background-color: grey;
}
.onesectioncolumnsmobile{
    display: flex;
  }

.onesectioncolumnsmobile img{
  width: 100%;
  height: 50%;

  }

.twosectionleft{
  display: none;
}

.twosection {
  display: none;
}
.twosectionmobile{
  display: flex;
  flex-direction: column;
  margin-top: 16px;;
  background-color: lightblue;
}

.twosectioncolumns{
  margin-right:16px;
  margin-left:16px;
  margin-top: 16px;
  margin-bottom: -32px

}

.campusphotomobile{

}
.campusphotoomobile img{
  overflow: hidden;
  width: 100%;
}

.campusinfocopy {
  margin-top: 32px;
  margin-bottom: 64px;
  width: 100%;
}
.threesection {display: none;}

.threesectionmob{
  display:flex;
  width:100%;
  background-color: lightgrey;
}

.threesectionmobile {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  width: 100%;
}

.threesectionmobile h1{
  width: 100%;
  font-size: 32px;
  font-weight:bold;
  border: 1px solid black;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: grey;
  margin-top: 8px;
  margin-bottom:8px;


}

.threesectionmobile p{
  font-size: 32px;
  width: 100%;
  margin: 50px;
  font-weight:bold;
  border: 1px solid black;
}

.fourthsectionmobile{
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid black;
}

.fourthsection{display: none;}

#fourheader{
  margin-bottom: 16px;
}

.mobilefooter {
  display: flex;
  justify-content: flex-start;
  border: 1px solid black;
  margin-left:16px;
  margin-right:16px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 24px;
}

.mobilefooter p{
  padding-top:16px;
  padding-bottom: 16px;
}

.navcontainer {display:none;}

}
